<!-- <!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/output.css}" />
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.css"
      rel="stylesheet"
    />
  </head> -->

<!-- agar kisi page par hume tailwind css chaiye to hume kuch step krni hogi hai, sabse pehle hume apne project me tailwind css ko install krna hoga, uske baad hume apne project ke root directory me ek tailwind.config.js file create krni hogi, jisme hume content property me un files ka path dena hoga jaha hum tailwind css ka use krna chahte hain, jaise ki hamne yaha "./src/main/resources/**/*.{html,js}" diya hai, iska matlab hai ki hamare src/main/resources folder ke andar jitne bhi html aur js files hain unme hum tailwind css ka use kar sakte hain. uske baad hume apne html file me tailwind css ko include krna hoga, jiske liye humne th:href="@{/css/output.css}" diya hai, isse phir ham apne html file me tailwind css ke classes ka use kar sakte hain, jaise ki hamne yaha container, bg-gray-200, w-3/4, mx-auto, flex, flex-col, space-y-3, p-4, mt-4, text-2xl, font-bold, text-xl, text-blue-500, text-red-700, hover:bg-blue-500, etc. ka use kiya hai. or phir hame input ki jarurat nhi pdti -->
<!-- <body>
    <div
      class="container bg-gray-200 w-3/4 mx-auto flex flex-col space-y-3 p-4 mt-4"
    >
      <h1 class="text-2xl font-bold" data-th-text="${name}">Welcome to home</h1>
      <p class="text-xl text-blue-500">
        Instagram : <span data-th-text="${instagram}"></span>
      </p>
      <p class="text-xl">
        Github Repo Link: <span data-th-text="${githubrepo}"></span>
      </p>
      <a class="text-xl" th:href="${githubrepo}">Click here to open</a>
      <p class="text-red-700">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias eaque
        excepturi incidunt. Incidunt mollitia earum architecto ad neque pariatur
        officiis quisquam magnam atque fugiat laudantium eum non, maiores
        placeat numquam?
      </p>

      <div class="flex justify-center">
        <button
          class="px-3 py-3 rounded bg-blue-700 text-white hover:bg-blue-500"
        >
          Click Here
        </button>
      </div>
    </div> -->

<!-- ye flow bite se liya gaya card component hai, jisme humne th:href aur th:text ka use kiya hai taaki hum apne dynamic data ko display kar sake. -->

<!-- <div class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs">
    <svg class="w-7 h-7 mb-3 text-body" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 21v-9m3-4H7.5a2.5 2.5 0 1 1 0-5c1.5 0 2.875 1.25 3.875 2.5M14 21v-9m-9 0h14v8a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1v-8ZM4 8h16a1 1 0 0 1 1 1v3H3V9a1 1 0 0 1 1-1Zm12.155-5c-3 0-5.5 5-5.5 5h5.5a2.5 2.5 0 0 0 0-5Z"/></svg>
    <a href="#">
        <h5 class="mb-2 text-2xl font-semibold tracking-tight text-heading">Need a help in Claim?</h5>
    </a>
    <p class="mb-3 text-body">Go to this step by step guideline process on how to certify for your weekly benefits:</p>
    <a href="#" class="inline-flex font-medium items-center text-fg-brand hover:underline">
        See our guideline
        <svg class="w-4 h-4 ms-2 rtl:rotate-[270deg]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 14v4.833A1.166 1.166 0 0 1 16.833 20H5.167A1.167 1.167 0 0 1 4 18.833V7.167A1.166 1.166 0 0 1 5.167 6h4.618m4.447-2H20v5.768m-7.889 2.121 7.778-7.778"/></svg>
    </a>
</div> -->
<!-- 
    <script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>
  </body>
</html> -->

<!doctype html>
<html
  lang="en"
  th:replace="~{base::parent(~{::#content},~{::title},~{::script})}"
>
  <head>
    <title data-th-text="${loggedInUser.name +'| SCM'}">Profile Page</title>
  </head>
  <body>
    <div id="content">
      <h1>Welcome to Profile Page</h1>
      <h1>Lorem ipsum dolor sit amet.</h1>
    </div>

    <script>
      console.log("This is Profile page");
    </script>
  </body>
</html>
