<nav
  data-th-fragment="user_navbar"
  class="dark:bg-gray-900 bg-white shadow-nav sm:pl-64 fixed w-full z-20 top-0 left-0 right-0 start-0"
>
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <button
      data-drawer-target="logo-sidebar"
      data-drawer-toggle="logo-sidebar"
      aria-controls="logo-sidebar"
      type="button"
      class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
    >
      <span class="sr-only">Open sidebar</span>
      <svg
        class="w-6 h-6"
        aria-hidden="true"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          clip-rule="evenodd"
          fill-rule="evenodd"
          d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
        ></path>
      </svg>
    </button>
    <!-- brand  -->
    <a
      data-th-href="@{'/'}"
      class="flex items-center space-x-3 rtl:space-x-reverse"
    >
      <img
        data-th-src="@{'/images/telephone.png'}"
        class="h-7"
        alt="Flowbite Logo"
      />
      <span
        class="self-center text-xl text-heading font-semibold whitespace-nowrap"
        >SCM</span
      >
    </a>
    <!-- end of brand logo -->

    <!-- Login Signup -->

    <div
      class="inline-flex gap-2 nav:order-2 space-x-3 nav:space-x-0 rtl:space-x-reverse"
    >
      <!-- dark light theme -->
      <button
        id="theme_change_button"
        class="bg-gray-200 px-3 py-2 rounded dark:text-white dark:bg-gray-600"
      >
        <i class="fa-solid fa-circle-half-stroke"></i>
        <span>Light</span>
      </button>
      <a
        data-th-href="@{'/user/profile'}"
        type="button"
        class="hidden nav:flex text-white bg-green-600 hover:bg-green-700 box-border border border-transparent focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-3 py-2 focus:outline-none"
      >
        <span data-th-text="${loggedInUser.name}"></span>
      </a>

      <a
        data-th-href="@{'/logout'}"
        type="button"
        class="hidden nav:flex text-white bg-red-600 hover:bg-red-800 box-border border border-transparent focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-3 py-2 focus:outline-none"
      >
        Logout
      </a>

      <!-- icon to open menu on small screen -->

      <button
        data-collapse-toggle="navbar-cta"
        type="button"
        class="inline-flex items-center p-2 w-9 h-9 justify-center text-sm text-body rounded-base nav:hidden hover:bg-neutral-secondary-soft hover:text-heading focus:outline-none focus:ring-2 focus:ring-neutral-tertiary"
        aria-controls="navbar-cta"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-6 h-6"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-width="2"
            d="M5 7h14M5 12h14M5 17h14"
          />
        </svg>
      </button>
      <!--  -->
    </div>

    <!-- ending of Login Signup -->

    <!-- Menu  -->

    <div
      class="items-center justify-between hidden w-full nav:flex nav:w-auto nav:order-1"
      id="navbar-cta"
    >
      <ul
        class="font-medium flex flex-col p-4 nav:p-0 mt-4 border border-default rounded-base bg-neutral-secondary-soft nav:flex-row nav:space-x-8 rtl:space-x-reverse nav:mt-0 nav:border-0 nav:bg-neutral-primary"
      >
        <li>
          <a
            data-th-href="@{'/home'}"
            class="block py-2 px-3 text-white bg-brand rounded nav:bg-transparent nav:text-fg-brand nav:p-0"
            aria-current="page"
            >Home</a
          >
        </li>
        <li>
          <a
            data-th-href="@{'/about'}"
            class="block py-2 px-3 text-heading rounded hover:bg-neutral-tertiary nav:hover:bg-transparent nav:border-0 nav:hover:text-fg-brand nav:p-0 nav:dark:hover:bg-transparent"
            >About</a
          >
        </li>
        <li>
          <a
            data-th-href="@{'/services'}"
            class="block py-2 px-3 text-heading rounded hover:bg-neutral-tertiary nav:hover:bg-transparent nav:border-0 nav:hover:text-fg-brand nav:p-0 nav:dark:hover:bg-transparent"
            >Services</a
          >
        </li>
        <li>
          <a
            data-th-href="@{'/contact'}"
            class="block py-2 px-3 text-heading rounded hover:bg-neutral-tertiary nav:hover:bg-transparent nav:border-0 nav:hover:text-fg-brand nav:p-0 nav:dark:hover:bg-transparent"
            >Contact</a
          >
        </li>
        <li>
          <a
            data-th-href="@{'/user/profile'}"
            type="button"
            class="nav:hidden flex items-center justify-center w-32 mt-2 text-white bg-green-600 hover:bg-green-700 box-border border border-transparent focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-3 py-2 focus:outline-none"
          >
            <span data-th-text="${loggedInUser.name}"></span>
          </a>
        </li>
        <li>
          <a
            data-th-href="@{'/logout'}"
            type="button"
            class="nav:hidden flex items-center justify-center w-32 mt-2 text-white bg-red-600 hover:bg-red-800 box-border border border-transparent focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-3 py-2 focus:outline-none"
          >
            Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
