
<!doctype html>
<html
  class="light"
  lang="en"
  th:fragment="parent(content,title,script)"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <script>
      if (localStorage.getItem("theme") === "dark") {
        document.documentElement.classList.add("dark");
      }
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:replace="  ${title}">SCM</title>
    <link rel="stylesheet" th:href="@{/css/output.css}" />
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Noto+Sans+Devanagari&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
        -webkit-text-fill-color: #111827 !important;
        transition: background-color 5000s ease-in-out 0s;
      }
    </style>
  </head>
  <body class="text-black dark:bg-gray-900 dark:text-white bg-gray-100">
    <!-- common header -->

    <!-- if user islogged in  - navbar -->
    <div data-th-if="${loggedInUser}">
      <div data-th-replace="~{user/user_navbar::user_navbar}"></div>
    </div>

    <!-- if user is not logged in - navbar  -->
    <div data-th-unless="${loggedInUser}">
      <div data-th-replace="~{navbar::navbar}"></div>
    </div>

    <!-- main content -->
    <!-- main content lana h saari file se dynamic -->
    <!-- agar login to side bar ko show krna h  -->
    <div
      th:classappend="${loggedInUser} ? 'sm:ml-64' : ''"
      class="pt-18 min-h-screen dark:bg-gray-900 bg-gray-100"
    >
      <section data-th-replace="${content}"></section>
    </div>

    <!-- common footer -->

    <!-- <footer class="p-4">Footer : Arun Sharma</footer> -->

    <script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script data-th-src="@{/js/script.js}"></script>
    <th:block data-th-replace="${script}"></th:block>
  </body>
</html>
